boto3==1.20.16
botocore==1.23.16
certifi==2021.10.8
charset-normalizer==2.0.8
docker==5.0.3
idna==3.3
jmespath==0.10.0
python-dateutil==2.8.2
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
terminaltables==3.1.0
urllib3==1.26.7
websocket-client==1.2.1
